
node_modules
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.mp4
*.jpg
.vite
backend/computervision/model
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
videos
model
__pycache__
.idea
.DS_Store
violence_detection_service/yaml/custom_data.yaml
violence_detection_service/train.ipynb
venv/
__pycache__/
